.landing-hero
  text-align center
  
.landing-content
  form
    width 60%
    margin 0 auto
    > *
      display table-cell
    input
      width 80%
    button
      width 20%
    @media(max-width screen-xs)
      width 90%
  .result
    display none
    width 50%
    margin 40px auto
    padding 20px 40px
    box-sizing border-box
    background-color aquamarine
    &.show
      display block
    input
      width 100%
      border none
      text-align center