body
  display flex
  flex-direction column
  height 100vh

nav
  height nav-height
  line-height nav-height
  background-color beige
  .container
    display flex
    padding 0 20px
  ul
    display flex
    justify-content flex-end
    width 100%
  li
    margin-left 20px

main
  flex-grow 1
  background-color aliceblue
  
footer
  height footer-height
  text-align center
  font-size .8rem
  line-height footer-height
  background-color beige
  
a
  text-decoration none
  color darkcyan
  &:hover
    text-decoration underline
  
.container
  max-width container-width
  margin 0 auto