@import 'nib'
@import 'jeet'

global-reset()

nav-height = 60px
container-width = 1024px
footer-height = 40px

color-separator = #888

@import 'common/layout'
@import 'common/typography'
@import 'common/components'
  
@import 'landing'
@import 'login'
@import 'register'
@import 'history'
