body
  font-family 'Oxygen', sans-serif
  font-smoothing antialiased
  
h1
  margin 36px 0
  font-size 3rem

h2
  margin 28px 0
  font-size 2.6rem
  
h3
  margin 20px 0
  font-size 2rem
  
h4
  margin 16px 0
  font-size 1.4rem
  
p
  line-height 1.2rem
