form
  display table
  > *
    display table
    box-sizing border-box
    margin-bottom 14px
    padding 4px 12px

.form-stacked
  width 40%
  > *
    width 100%
  @media(max-width screen-sm)
    width 60%
  @media(max-width screen-xs)
    width 90%
  
input.invalid
  border 1px solid red
  border-radius 2px
  
a
  text-decoration none
  color darkcyan
  &:hover
    text-decoration underline
