html, body
  height 100%
  
.wrapper
  display table
  height 100%
  width 100%

nav, footer
  display table-row

nav
  height nav-height
  line-height nav-height
  background-color beige
  .logo
    float left
  ul
    float right
  li
    display inline-block
    margin-left 20px

main
  display table-row
  height 100%
  width 100%
  background-color aliceblue
  
footer
  height footer-height
  text-align center
  font-size .8rem
  line-height footer-height
  background-color beige
  
.container
  max-width container-width
  margin 0 auto
  padding 0 20px