<main>
  <section class="history-content">
    <div class="container">
       <table>
        <tr>
          <td>Hash</td>
          <td>Dolg URL</td>
          <td>Ustvarjen</td>
        </tr>
        {{#each urls}}
        <tr>
          <td>{{hash}}</td>
          <td>{{full}}</td>
          <td>{{created}}</td>
        </tr>
        {{/each}}
      </table> 
    </div>
  </section>
</main>
