<section class="history-content">
  <div class="container">
     <table>
      <thead>
        <tr>
          <td>Hash</td>
          <td>Dolg URL</td>
          <td>Ustvarjen</td>
        </tr>
      </thead>
      <tbody>
      {{#each urls}}
        <tr>
          <td>{{hash}}</td>
          <td>{{full}}</td>
          <td>{{timeFormatted created}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table> 
  </div>
</section>