<nav>
  <div class="container">
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
  </div>
</nav>

<main>
  <section class="hero">
    <div class="container">
      <h1>Landing page</h1>
      <h2>Landing page</h2>
      <h3>Landing page</h3>
      <h4>Landing page</h4>
      <p>Incididunt relinqueret iis laborum, ipsum ne ad fore mandaremus aut officia amet 
        minim eiusmod summis de minim incididunt fabulas o senserit summis mandaremus 
        officia, doctrina eram ex voluptate concursionibus, iis a exercitation, de amet 
        fabulas philosophari. Do non amet malis nisi, laboris ne tamen ne nostrud et 
        aute singulis, veniam ab offendit. Hic veniam a sint. Ita te philosophari. 
        Singulis dolore noster quibusdam cillum, culpa aut quo labore laboris. Litteris 
        do duis tempor. Dolor sempiternum consequat noster cupidatat et iis anim admodum 
        deserunt ut est varias commodo eu iudicem id tamen offendit.</p>
    </div>
  </section>

  <section class="content">
    <div class="container">
    </div>
  </section>
</main>

<footer>
  <div class="container">
    <ul>
      <li>© 2015 Nil Gradisnik</li>
    </ul>
  </div>
</footer>
