<nav>
  <div class="container">
    <ul>
      <li><a href="/">Skrci.me</a></li>
    </ul>
  </div>
</nav>

<main>
  <section class="landing-hero">
    <div class="container">
      <h1>Skrci.me</h1>
    </div>
  </section>

  <section class="landing-content">
    <div class="container">
      <form method="post" action="/api/skrci">
        <input type="text" placeholder="Prilepi dolg URL tukaj">
        <button>Skrci</button>
      </form>
    </div>
  </section>
</main>

<footer>
  <div class="container">
    <ul>
      <li>© 2015 Skrci.me</li>
    </ul>
  </div>
</footer>
