<main>
  <section class="landing-hero">
    <div class="container">
      <h1>Skrci.me</h1>
    </div>
  </section>

  <section class="landing-content">
    <div class="container">
      <form method="post" action="/api/skrci">
        <input class="js-longurl" type="text" placeholder="Prilepi dolg URL tukaj">
        <button class="btn js-shorten">Skrci</button>
      </form>
    </div>
  </section>
</main>
