<main>
  <section class="login-hero">
    <div class="container">
      <h1>Prijava</h1>
    </div>
  </section>

  <section class="login-content">
    <div class="container">
      <form>
        <input type="email" name="email" placeholder="Email naslov">
        <input type="password" name="password" placeholder="Geslo">
        <button class="btn js-login">Prijava</button>
      </form>
    </div>
  </section>
</main>
