<main>
  <section class="register-hero">
    <div class="container">
      <h1>Registracija</h1>
    </div>
  </section>

  <section class="register-content">
    <div class="container">
      <form>
        <input type="email" name="email" placeholder="Email naslov">
        <input type="password" name="password" placeholder="Geslo">
        <button class="btn js-register">Registracija</button>
      </form>
    </div>
  </section>
</main>
