<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    
    <meta name="robots" content="noindex">
    
    <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/skrcime.css">
    
    <script>window.SKRCIME = {{{@koa.bootstrap}}};</script>
    <script src="/skrcime.js"></script>
    <script>window.SKRCIME.pages.{{@view}}();</script>
  </head>
  <body>
    {{> header}}
    
    {{{@body}}}
    
    {{> footer}}
  </body>
</html>
